# for unimodal feature extraction outputs
Data/
DataFeatures/
Datasets/
materials_task/
referCodes/
codes_v251112/output/
codes_v251112/unimodal_pretrainedModel/logs
codes_v251112/unimodal_utterance/logs

# for multimodal feature fuion
codes_v251112/hyper_fusion/