# for refer
Data/
DataFeatures/
Datasets/
materials_task/
referCodes/

# for unimodal feature extraction outputs
codes_v251112/data/
codes_v251112/unimodal_pretrainedModel/
codes_v251112/unimodal_utterance/

# for multimodal feature fuion
codes_v251112/materials/
codes_v251112/hyper_fusion/
codes_v251112/fusion/__pycache__
outputs/
checkpoints/
codes_v251112/fusion/checkpoints/