# for refer
Data/
DataFeatures/
Datasets/
materials_task/
referCodes/

# for unimodal feature extraction outputs
codes_v251112/output/
codes_v251112/unimodal_pretrainedModel/
codes_v251112/unimodal_utterance/logs
codes_v251112/unimodal_utterance/__pycache__

# for multimodal feature fuion
codes_v251112/hyper_fusion/